/* Padding */
.p-md {
  padding: calc(var(--general-margin) * .75) calc(var(--general-margin) * .55)
}
.px-md {
  padding-left:  calc(var(--general-margin) * .55);
  padding-right:  calc(var(--general-margin) * .55);
}
.py-lg {
  padding-top: calc(var(--general-margin) * 2);
  padding-bottom: calc(var(--general-margin) * 2);
}

/* Text */
.text-center {
  text-align: center;
}

/* Color */
.color-md {
  color: var(--gray)
}

/* Position */
.relative {
  position: relative;
}
.absolute {
  position: absolute;
}

